/** Globals***/
.flex-column{
    flex-direction: column !important;
}
.position-fixed{
	position:fixed !important;
	top:0;
	left:0;
	right:0;
	z-index:9999;
}
.w-100{
    width: 100% !important;
}
.off-canvas.menu a{
    display: block;
    width: 100%;
}
